
.sign_up_page{
    position: fixed;
   height: 100%;
   width: 100%;
   margin: 0;
   object-fit: contain;
}
.form-base{
    height: 100%;
    width: 100%;
}
form{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .form-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 3%;
    height: 50%;
    width: 40%;
    padding: 30px;
    border-radius: 40px;
    opacity: 0.9;
} */
.form-container{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.form-input{
    width: 100% !important;
}
.textField_label{
    color: white !important;
}